<% include ./header %>

    <div class="container body">
        <div class="main_container">            

            <div class="chat_container">

                <div class="chat_wrapper">
                    
                    

                </div>          

                <div class="chat-message-input">                
                    <div class="form form-horizontal">
                        
                    </div>                
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <form class="hidden">
        <input type="hidden" class="service-info" name="client_name" id="client_name" value="">
        <input type="hidden" class="service-info" name="client_contact" id="client_contact" value="">
        <input type="hidden" class="service-info" name="client_contact2" id="client_contact2" value="">
        <input type="hidden" class="service-info" name="hospnum" id="hospnum" value="">
        <input type="hidden" class="service-info" name="hospname" id="hospname" value="">
        <input type="hidden" class="service-info" name="area" id="area" value="">
        <input type="hidden" class="service-info" name="program" id="program" value="">
        <input type="hidden" class="service-info" name="exe" id="exe" value="">
        <input type="hidden" class="service-info" name="pcinfo" id="pcinfo" value="">
        <input type="hidden" class="service-info" name="curversion" id="curversion" value="">
        <input type="hidden" class="service-info" name="bohum" id="bohum" value="">
        <input type="hidden" class="service-info" name="hosp_contact" id="hosp_contact" value="">
        <input type="hidden" class="service-info" name="pacs" id="pacs" value="">
        <input type="hidden" class="service-info" name="servername" id="servername" value="">
        <input type="hidden" class="service-info" name="serverid" id="serverid" value="">
        <input type="hidden" class="service-info" name="serverpw" id="serverpw" value="">
        <input type="hidden" class="service-info" name="dbname" id="dbname" value="">
        <input type="hidden" class="service-info" name="certpw" id="certpw" value="">
        <input type="hidden" class="service-info" name="openperson" id="openperson" value="">
        <input type="hidden" class="service-info" name="sutak" id="sutak" value="">
        <input type="hidden" class="service-info" name="os" id="os" value="">
        <input type="hidden" class="service-info" name="sqlversion" id="sqlversion" value="">
        <input type="hidden" class="service-info" name="masterDrug" id="masterDrug" value="">
        <input type="hidden" class="service-info" name="masterSuga" id="masterSuga" value="">
        <input type="hidden" class="service-info" name="masterMaterial" id="masterMaterial" value="">
        <input type="hidden" class="service-info" name="manager" id="manager" value="">       
    </form>
    
   
<% include ./footer %>