<% include ../../includes/script.ejs %>
<script src="/components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/components/bootstrap-select/dist/js/i18n/defaults-ko_KR.min.js"></script>
<script src="/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/project/edit.js"></script>
</body>
</html>