<script src="https://cdn.rawgit.com/inexorabletash/polyfill/v0.1.41/polyfill.min.js"></script>
<script src="/components/jquery/dist/jquery.js"></script>
<script src="/components/bluebird/js/browser/bluebird.min.js"></script>
<script src="/components/axios/dist/axios.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/components/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="/components/PACE/pace.min.js"></script>
<script src="/components/moment/min/moment.min.js"></script>
<script src="/components/moment/locale/ko.js"></script>
<script src="/components/fastclick/lib/fastclick.js"></script>
<script src="/components/socket.io-client/dist/socket.io.js"></script>
<script src="/js/constants.js"></script>
<script src="/js/hospital/socket.js"></script>
<script src="/js/hospital/talk.js"></script>
</body>

</html>
