<% include ./header %>

<div class="container body">
    <div class="main_container">

        <div class="chat_container">

            <div class="chat_wrapper">



            </div>

            <div class="chat-message-input">
                <div class="form form-horizontal">

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="services" value="" />
<input type="hidden" id="status" value="" />
<button type="button" style="display:none;" id="balloon">말풍선</button>

<% include ./footer %>
