<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=yes">
    <title>
        <%= title.company_e %> - A / S 수수료
    </title>

    <% include ../includes/css %>
    <link rel="stylesheet"
        href="/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/components/bootstrap-select/dist/css/bootstrap-select.min.css">
    <% if (ENV_DEVELOPMENT) { %>
    <script src="<%= LIVERELOAD %>"></script>
    <% } %>

    <!-- [if lt IE 9]>
        <script src="/components/html5shiv/html5shiv.min.js"></script>
        <script src="/components/respond/respond.min.js"></script>
    <![endif]-->

    <style>
        .fee-member .member-dev>td:first-child,
        .fee-member-2 .member-dev>td:first-child {
            background: #d2f7cf;
        }

        .fee-member .fee-parent-fee,
        .fee-member .fee-kim-fee,
        .fee-member .fee-west-fee,
        .fee-member .fee-chan-fee,
        .fee-member .fee-share-fee,
        .fee-member-2 .fee-parent-fee,
        .fee-member-2 .fee-kim-fee,
        .fee-member-2 .fee-west-fee,
        .fee-member-2 .fee-share-fee,
        .fee-area .fee-normal,
        .fee-area .fee-emergency {
            background: #ededed;
        }

        .fee-member .fee-total>td,
        .fee-member-2 .fee-total>td,
        .fee-area .fee-total,
        .fee-area .fee-total>td {
            background: #f2f2f2;
        }

        th.fee-parent,
        .fee-member .fee-total .fee-parent,
        .fee-member-2 .fee-total .fee-parent {
            background: #d2e0ed;
        }

        th.fee-kim,
        .fee-member .fee-total .fee-kim,
        .fee-member-2 .fee-total .fee-kim {
            background: #fee5a1;
        }

        th.fee-chan,
        .fee-member .fee-total .fee-chan,
        .fee-member-2 .fee-total .fee-chan {
            background: #f6fac4;
        }

        th.fee-share,
        .fee-member .fee-total .fee-share,
        .fee-member-2 .fee-total .fee-share {
            background: #f2fff3;
        }

        th.fee-total,
        .fee-member .fee-total .fee-total,
        .fee-member-2 .fee-total .fee-total,
        .fee-member .fee-total {
            background: #fffac2;
        }
    </style>
    <script>
        (function () {
            window.params = {
                user: '<%- JSON.stringify(user) %>',
                setting: '<%- JSON.stringify(setting) %>'
            }
            window.params.user = JSON.parse(window.params.user);
            window.params.setting = JSON.parse(window.params.setting.replace(/\n/gim, '\\n'));
        })();

    </script>
</head>

<body class="nav-md">