<% include ../../includes/script.ejs %>
<script src="/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/datepicker.js"></script>
<script src="/js/call/view.js"></script>
</body>
</html>