<script src="/components/jquery/dist/jquery.js"></script>
<script src="/components/bluebird/js/browser/bluebird.min.js"></script>
<script src="/components/axios/dist/axios.min.js"></script>
<script src="/components/socket.io-client/dist/socket.io.js"></script>
<script src="/js/transfer/packetTypes.js"></script>
<script src="/js/transfer/fileSocket.js"></script>
<script src="/js/socket.js"></script>
</body>

</html>
