<% include ./header %>

    <div class="container body">
        <div class="main_container">
        <!-- page content -->
            <div class="col-xs-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">NeoAS</h1>
                        <h2>NeoSoftBank A/S 서비스</h2>
                        <p>
                            A/S 서비스를 이용하시려면 NeoAS 프로그램을 설치해주세요.<br>                            
                        </p>
                        <div class="divider"></div>
                        <div class="mid_center">                            
                            <a class="btn btn-primary btn-lg btn-round" href="/neoas/iNeoAS.exe"> NeoAS 다운로드 </a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>

   
<% include ./footer %>                                          