<% include ../includes/script.ejs %>
<script src="/components/fullcalendar/dist/fullcalendar.js"></script>
<script src="/components/fullcalendar/dist/locale/ko.js"></script>
<script src="/js/home/home.js"></script>
</body>
</html>