<% include ./header %>

    <div class="container body">
        <div class="main_container">
            <% include ../includes/sidemenu.ejs %>
            <% include ../includes/topnav.ejs %>

            <div class="right_col" role="main">
                <div class="row">
                    통계
                </div>
            </div>
        </div>
    </div>

<% include ./footer %>