<div class="x_panel">
    <div class="x_content">

        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>
                            <i class="fa fa-bar-chart"></i>
                            지사별 A/S 발생
                        </h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="chart-container">
                            <canvas id="area-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">

                        <h3>
                            <i class="fa fa-bar-chart"></i>
                            프로그램별 A/S 발생
                        </h3>
                        <div class="pull-right">
                            <input type="text" class="form-control daterange yearpicker program" data-view-mode="years"
                                data-format="YYYY년" readonly>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="x_content">
                        <div class="chart-container">
                            <canvas id="program-chart"></canvas>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>