<div class="x_panel">
    <div class="x_title">
        <h3>A/S 접수현황 (거래처별)</h3>
        <div class="pull-right">
            <div class="form-inline">

                <div class="form-group form-group-sm">
                    <select class="form-control selectpicker show-tick caution-hospital" data-live-search="true"
                        data-width="fit" data-size="10" title="기관검색">
                    </select>
                </div>

                <div class="form-group form-group-sm">
                    <div class="input-group m-b-none input-group-sm">
                        <input type="text" data-view-mode="months" data-format="YYYY년MM월" readonly
                            class="form-control daterange monthpicker caution">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-warning search-btn">
                                조회
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive p-w-sm">
        <table class="table table-bordered table-striped jambo_table neo-static">
            <thead>
                <tr>
                    <th>N</th>
                    <th data-field="기관코드">기관코드</th>
                    <th data-field="기관명칭">기관명칭</th>
                    <th data-field="프로그램">프로그램</th>
                    <th data-field="신규">신규</th>
                    <th data-field="유형">유형</th>
                    <th data-field="연속일" data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="최대 AS 연속으로 접수한 일 수">
                        연속일</th>
                    <th data-field="평균시간" data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="평균 AS 처리시간(접수-완료)">
                        평균시간</th>
                    <th data-field="처리율">
                        처리율</th>
                    <th data-field="데스크">데스크</th>
                    <th data-field="입원수납">입원수납</th>
                    <th data-field="청구심사">청구심사</th>
                    <th data-field="진료실">진료실</th>
                    <th data-field="병동">병동</th>
                    <th data-field="진료지원">진료지원</th>
                    <th data-field="병원관리">병원관리</th>
                    <th data-field="문서관리">문서관리</th>
                    <th data-field="통계">통계</th>
                    <th data-field="메인">메인</th>
                    <th data-field="부가서비스">부가서비스</th>
                    <th data-field="기타">기타</th>
                    <th data-field="건수">합계</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>