<% include ./header %>
<input type="text" class="service-info" name="socketid" id="socketid" value="">
<input type="text" class="service-info" name="macaddress" id="macaddress" value="">
<input type="text" class="service-info" name="client_name" id="client_name" value="">
<input type="text" class="service-info" name="hospnum" id="hospnum" value="">
<input type="text" class="service-info" name="hospname" id="hospname" value="">
<input type="text" class="service-info" name="area" id="area" value="">
<input type="text" class="service-info" name="program" id="program" value="">

<input type="text" class="service-info" name="pcinfo" id="pcinfo" value="">
<input type="text" class="service-info" name="curversion" id="curversion" value="">


<input type="text" class="service-info" name="servername" id="servername" value="">
<input type="text" class="service-info" name="serverid" id="serverid" value="">
<input type="text" class="service-info" name="serverpw" id="serverpw" value="">
<input type="text" class="service-info" name="dbname" id="dbname" value="">

<input type="text" class="service-info" name="os" id="os" value="">
<input type="text" class="service-info" name="sqlversion" id="sqlversion" value="">

<input type="text" class="service-info" name="save-path" id="save-path" value="">
<input type="text" class="service-info" name="execute-files" id="execute-files" value="">
<input type="text" class="service-info" name="transfer-files" id="transfer-files" value="">
<button type="button" style="display:none;" id="downTransferFiles">다운로드</button>

<% include ./footer %>
