<% include ./header %>
<div id="root">
    <div class="remote-main">
        <iframe src="http://377.co.kr"></iframe>
    </div>
    <div class="help-container">
        <div class="help-main">
            <p>How to connect</p>
            <h1><span>시트롤 연결 방법</span></h1>
            <div class="box">
                <ol>
                    <li>
                        <span>01.</span>
                        왼쪽의 <b>주소입력란에</b> <b style="color:blue">medi</b>를 입력해주세요.
                    </li>
                    <li>
                        <span>02.</span>
                        <b>주소입력란</b> 아래의 <b>숫자버튼</b> 중 <b>1</b>번을 눌러주세요.</li>
                    <li>
                        <span>03.</span>
                        <b>다운로드된 실행파일을 실행</b>하고, <br> 화면에 표시된 <b style="color: blue;">고객ID</b>를 상담원에게 불러주시면 됩니다.
                        <img src="images/seetrol-1.png" width="100%" />
                    </li>
                </ol>
            </div>
            <h1 style="margin-top: 15px;"><span>스탠바이 설정 방법</span></h1>
            <div class="box">
                <ol>
                    <li>
                        <span>01.</span>
                        시트롤 화면 오른쪽 Standby(스탠바이) 옵션을 체크해주세요.
                        <img src="images/seetrol-2.png" width="100%" />
                    </li>
                    <li>
                        <span>02.</span>
                        항상대기컴퓨터 이름에 병원명을 입력하고,<br> 비밀번호 1111 로 설정 후 확인을 눌러주세요.
                    </li>

                </ol>
            </div>
        </div>
    </div>
</div>
<% include ./footer %>