<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h4>거래처별 관리수당</h4>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                        <select class="selectpicker" id="area" title="지사" data-size="5" data-live-search="true"></select>
                        <select class="selectpicker" id="manager" title="담당자" data-size="5" data-live-search="true"></select>
                    </span>
                    <!-- <select class="selectpicker" title="프로그램"></select> -->
                    <input type="text" class="form-control" id="salesmans-search" placeholder="기관검색"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">검색</button>
                    </span>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center bg-navy">기관기호</thclas>
                        <th class="text-center bg-navy">기관명칭</th>
                        <th class="text-center bg-navy">구분</th>
                        <th class="text-center bg-navy">프로그램</th>
                        <th class="text-center bg-navy">소속</th>
                        <th class="text-center bg-orange">관리수당</th>
                    </tr>
                </thead>
                <tbody id="salesmans">
                </tbody>
            </table>
        </div>
    </div>
</div>