<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h4>A/S 처리구분 & 예시</h4>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="btn btn-link setting-save" data-setting="처리구분">
                        <i class="fa fa-floppy-o"></i>
                    </a>
                </li>
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group top_search">
                        <div class="input-group">
                            <input type="text" class="form-control input-adder" data-target=".process-type"
                                placeholder="처리구분 추가" />
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-adder" data-target=".process-type" type="button"><i
                                        class="fa fa-plus"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="list-group process-type">

                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <h5><i class="fa fa-circle"></i> 입력사항</h5>
                    <textarea class="form-control process-require" data-sub="입력사항" rows="10">
                    </textarea>
                    <h5><i class="fa fa-circle"></i> 예시</h5>
                    <textarea class="form-control process-example" data-sub="예시" rows="10">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>
