        
        <% include ../../includes/script.ejs %>
        <script src="/components/jquery-validation/dist/jquery.validate.min.js"></script>        
        <script src="/js/users/login.js"></script>
    </body>
</html>